.card{
    padding: 20px;
    min-width: 150px;
    cursor: pointer;
}
.cases{
    color: tomato !important;
    border-top: 5px solid tomato;
}
.recovered{
    color: 	#006400!important;
    border-top: 5px solid green;
}
.deaths{
    color: 	#696969!important;
    border-top: 5px solid #808088;
}
@media  screen and (max-width: 700px){
    .card{
      margin-top: 16px !important;
      min-width: 200px !important;
          }
    
 }