.table{
    height: 570px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 16px;
    margin-top: 50px;
    cursor: grab;
   
}

.table tr {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }
  
  .table td {
    padding: 0.5rem;
    border: none;
  }
  
  .table tr:nth-of-type(odd) {
    background-color: #80808080;
  }


  @media  screen and (max-width: 700px){
    .table{
      padding: 50px;
      padding-top: 30px;
      margin-top: 0;
          }
    
 }